.all-tutors-heading {
  text-align: center;
  font-size: 24px;
  margin-top: 20px;
}

.tutor-card-container {
  display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}


