/* Navbar.css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.navbar {
  background-color: #F08080;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  perspective: 1000px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 100px;
  height: 100px;
  margin-right: 10px;
  transition: transform 0.3s ease-in-out;
}

.logo:hover {
  transform: rotateY(180deg);
}

.logo-text {
  font-size: 30px;
  font-weight: bold;
  color: #333;
  margin: 0;
  transition: color 0.3s ease-in-out;
}

.navbar-links {
  list-style: none;
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: 700;
}

.navbar-links li {
  margin-right: 10px;
  position: relative;
  perspective: 1000px;
}

.navbar-links a {
  font-size: 20px;
  color: #333;
  text-decoration: none;
  position: relative;
  transition: color 0.3s ease-in-out;
}

.navbar-links a:before {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #333;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.navbar-links a:hover {
  font-weight: 700;
  color: #fff;
}

.navbar-links a:hover:before {
  transform: scaleX(1);
}

.navbar-links li:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #8093f0;
  transform: rotateX(60deg);
  transform-origin: bottom;
  transition: transform 0.3s ease-in-out;
}

.navbar-links li:hover:before {
  transform: rotateX(0deg);
}

.nav-icon {
  margin-right: 5px;
}

